<div class="page-header">
	<div class="comments_title">
		<h1><a href="#"><%= @standup.title %></a><br> <small>Submitted by <%= @standup.user.name %></small></h1>
	</div>	
</div>
		  
			<h2>Current tasks:</h2>
			<% @standup.tasks.each do |task| %>
				<div id="comment">
					<li class="list-group-item"><%= task.content %></li>
				</div>	
			<% end %>	
			<% if @standup.user == current_user -%>
				<div class="btn-group">
					<%= link_to 'Edit', edit_standup_path(@standup), class: "btn btn-default" %>
					<%= link_to 'Destroy', @standup, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
				</div>
			<% end %>
			</hr>
			<div class="link row clearfix">
			<h2>Previous tasks:</h2>
				<% if @prev != nil%>
					<% @prev.tasks.each do |pre| %>
						<div id="comment">
							<li class="list-group-item"><%= pre.content %></li>
						</div>	
					<% end %>
				<% else %>
				  <h3>No previous tasks</h3>
				<% end %>
			</div>


	