<div class="form-inline.clearfix">  
  <div class="nested-fields">
    <div class="form-group">
      <%= f.label :content %>
      </br>
      <%= f.text_field :content, class: "form-input form-control", :autofocus => true  %>
      <%= link_to_remove_association "remove task", f, class: "form-button btn btn-default" %>
    </div>
    <div class="form-group">
      <%= f.check_box :done %>
      <%= f.label :done %>
  
    </div>
  </div>
</div>  