<!DOCTYPE html>
<html>
<head>
  <title>StandupApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default" role="navigation"><header class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo" class="navbar-brand"><%= link_to "STANDUP/-app", root_path %></div>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              Logged in as <strong><%= current_user.email %></strong>
              </br>
              <li><%= link_to "Submit standup", new_standup_path %></li>
              <li><%= link_to "View users", users_path, :class => "navbar-link" %></li>
              <li><%= link_to "Edit profile", edit_user_registration_path, :class => "navbar-link" %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link"  %></li>
          </ul>
        <% else %>
          <% if request.path != new_user_registration_path %>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Sign up", new_user_registration_path, :class => "navbar-link"  %></li>   
              <li><%= link_to "Login", new_user_session_path, :class => "navbar-link"  %></li>
            </ul> 
          <% end %> 
        <% end %>
      </p>  
    </div>
  </div>
</header>
    <div id="main_content" class="container">
      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %> 

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>


</body>
</html>
